.background{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(circle, #c2dde6, #bccbde);
}

.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    margin: 0;
    padding: 5px;
}

.nav_container_home{
    display: flex;
    padding-left: 10px;
}

.nav_container_pages{
    display: flex;
    padding-right: 10px;
    gap: 10px;
}

.nav_item{
    color: black;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_link{
    text-decoration: none;
}

.nav_link:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

.monocle_img_box{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.monocle_img_box img{
    max-width: 80%;
    height:auto
}

.home_title{
    display: flex;
    color: black;
    font-size: 94px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

.subpage_title{
    display: flex;
    color: black;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

.footer{
    display: flex;
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    padding-top: 200px;
}