.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin: 0;
    padding: 5px;
}

.nav_container_home{
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

.nav_container_pages{
    display: flex;
    justify-content: right;
    padding-right: 10px;
    gap: 10px;
}

.nav_item{
    color: white;
}